@{
	ViewData["Title"] = "Home Page";
}

<div class="" id="vueapp">
	<h1 class="display-4">Welcome</h1>
	<template v-for="item in orders" v-key="item.id">
		<div class="card w-25">
			<div class="card-header">
				<h3>{{item.id}}<br />{{item.clientName}}</h3>
			</div>
			<div class="card-body">
				<template v-for="product in item.products" v-key="item.id">
					{{product.name}} -
					{{product.amount}} -
					{{product.sum}} <br />
				</template>
			</div>
			<div class="card-footer">
				<a class="btn btn-success">Выполнен</a>
			</div>
		</div>
	</template>
</div>

@section Scripts {
	<script>
		const VueApp = {
			data() {
				return {
					orders: [],
				}
			},
			async mounted() {
				await this.getOrders();
			},
			methods: {
				getOrders: async function () {
					let th = this;
					axios.get('/Home/GetOrders').then((response) => {
						th.orders = response.data;
						console.log(th.orders[0]);
					});
				}
			},
		}
		Vue.createApp(VueApp).mount("#vueapp");
	</script>
}